In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel(open('d:/MyCode/Playground/eMeL/datas/201702_AUTOTURISM_DETALIAT.xlsx','rb'), sheetname='201702_AUTOTURISM_DETALIAT')

In [3]:
df.shape

(75265, 30)

In [4]:
df.head()

,Vehicule noi si second hand inmatriculate in luna curenta,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,Judet,Marca,Tip,Extensie,Versiune,Denumire comerciala,Subcategorie,Tip caroserie,Locuri pe scaune,Capacitate cilindrica,...,Detinator,Calitate detinator,Utilizator,Calitate utilizator,Judet_utilizator,Motiv de inmatriculare,Data primei inmatriculari,Data inmatricularii in Romania,Categorie comunitara,Total
1,County,Vehicle_brand,Brand_type,Brand_extension,Brand_Version,Commercial_description,Subcategory,Body_type,Number_of_seat,Cylinder_capacity,...,Type_of_Owner,Owner_quality,User,User_quality,User_county,Registration_type,First_registration_date,Romania_first_registration_date,Category,Count
2,ALBA,ALFA ROMEO,932,A2A00,05,156,AA BERLINA,NaN,5,1910,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,13.01.2000,15.02.2017,M1,1
3,ALBA,ALFA ROMEO,932,A2A00,05,156,AA BERLINA,NaN,5,1910,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,29.02.2000,15.02.2017,M1,1
4,ALBA,ALFA ROMEO,932,A2C00,44E,156,AA BERLINA,NaN,5,1910,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,16.09.2003,08.02.2017,M1,1

### Set title row. Romanian :).

In [19]:
new_header = df.iloc[0]
df = df[2:]
df.columns = new_header
df.head()

16,ALBA,AUDI,4B,AAVFF1,FM6EACR92P,A6,AC BREAK,nan,5,1896,...,PERSOANA,PROPRIETAR UNIC,nan,nan,nan,IP - VEHICUL UZAT IMPORTAT,09.12.2003,03.02.2017,M1,1
18,ALBA,AUDI,4B,ABDGF1,FM6EA0R92P,A6,AC BREAK,NaN,5,2496,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,10.06.2003,23.02.2017,M1,1
19,ALBA,AUDI,4B,HBAUQ1,QA5VACR73S,ALLROAD,AC BREAK,NaN,5,2496,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,24.11.2005,09.02.2017,M1G,1
20,ALBA,AUDI,4B,LAGAF1,NaN,A6,AA BERLINA,NaN,5,2393,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,31.12.1997,20.02.2017,M1,1
21,ALBA,AUDI,4B,LAWTF1,FM52EMR920,A6,AA BERLINA,NaN,5,1781,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,19.07.2001,15.02.2017,M1,1
22,ALBA,AUDI,4B,LAWXF1,FM52FCR92O,A6,AA BERLINA,NaN,5,1896,...,PERSOANA,PROPRIETAR UNIC,NaN,NaN,NaN,IP - VEHICUL UZAT IMPORTAT,15.04.2002,03.02.2017,M1,1